@import url("./TransitionStyles.css");

@font-face {
  font-family: "calibre";
  src: url("../Assets/fonts/CalibreRegular.otf");
}
@font-face {
  font-family: "calibreBold";
  src: url("../Assets/fonts/CalibreBold.otf");
}
@font-face {
  font-family: "calibreThin";
  src: url("../Assets/fonts/CalibreThin.otf");
}

@font-face {
  font-family: "sfMono";
  src: url("../Assets/fonts/SFMonoRegular.woff");
}

@font-face {
  font-family: "sfMonoThin";
  src: url("../Assets/fonts/SFMonoLight.woff");
}

* {
  /* line-height: 1.1; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-green: rgb(100, 255, 218);
  --bg-green-tint: rgba(100, 255, 218, 0.1);
  --bg-dark-navy: #020c1b;
  --bg-navy: #0a192f;
  --bg-navy-shadow: rgba(2, 12, 27, 0.7);
  --bg-light-navy: rgb(17, 34, 64);
  --bg-blue: #15a8cd;
  --bg-lgray: #ccd6f6;
  --bg-gray: #8892b0;
  --bg-darkgray: #495670;
  --font-cali-regular: "calibre", sans-serif, -apple-system, system-ui;
  --font-cali-bold: "calibreBold", sans-serif, -apple-system, system-ui;
  --font-cali-thin: "calibreThin", sans-serif, -apple-system, system-ui;
  --font-mono: "sfMono", sans-serif, -apple-system, system-ui;
  --font-mono-thin: "sfMonoThin", sans-serif, -apple-system, system-ui;
  --font-heading: clamp(40px, 8vw, 80px);
  --font-sub-heading: 48px;
  --font-med-heading: 30px;
  --font-para: clamp(17px, 19px);
  --font-note: 16px;
  --font-bold: 700;
  --font-semi-bold: 500;
  --font-regular: 300;
  --font-thin: 200;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --shadow: 0 10px 30px -15px var(--bg-navy-shadow);
  --shadow-hover: 0 20px 30px -15px var(--bg-navy-shadow);
}

html,
body {
  font-size: 100%;
  background: var(--bg-navy);
  color: var(--bg-gray);
  font-family: var(--font-cali-regular);
}

li,
ul {
  list-style-type: none;
}

a,
a:visited,
a:focus {
  color: var(--bg-gray);
  text-decoration: none;
  transition: 300ms ease;
}
p {
  line-height: 1.5;
  letter-spacing: 0.3px;
}

strong {
  font-weight: 600;
  color: var(--bg-lgray);
}

button {
  background-color: transparent;
  border: none;
  color: var(--bg-gray);
  font-family: var(--font-mono);
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 150px;
}
main .fillHeight {
  padding: 0 150px;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.green {
  color: var(--bg-green) !important;
}
.gray {
  color: var(--bg-gray);
}
.lgray {
  color: var(--bg-lgray);
}
.hover-line {
  position: relative;
  display: inline-block;
  line-height: inherit;
}
.hover-line::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--bg-green);
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.hover-line:hover::before {
  scale: 1;
}

.blur {
  filter: blur(4px) brightness(0.9);
}

/* Active link */
.active {
  color: var(--bg-green);
}
.feather {
  width: 20px;
  height: 20px;
  transition: transform 300ms ease;
}
.feather:hover {
  color: var(--bg-green);
  transform: translateY(-5px);
  transition: transform 300ms ease;
}

.main-container {
  min-height: 100vh;
  margin: auto;
}

.section-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.transition {
  transition: 300ms ease;
}

/* scrollbar */

/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-darkgray) var(--bg-navy);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--bg-navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-darkgray);
  border: 3px solid var(--bg-navy);
  border-radius: 10px;
}

/* Media Queries */

@media (min-width: 1440px) {
  main {
    padding: 200px 100px;
  }
  .fillHeight {
    padding: 0 100px;
  }
  .main-container {
    max-width: 1600px;
    padding: 0 150px;
  }
}

@media (max-width: 1024px) {
  .main-container {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 150px 50px;
  }
  .fillHeight {
    padding: 0 50px;
  }
  .main-container {
    padding: 0 50px;
  }
  .section-container {
    margin-top: 4rem;
    padding-top: 100px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 125px 25px;
  }
  .fillHeight {
    padding: 0 25px;
  }
}

@media (min-height: 1080px) {
  .section-container {
    height: 100% !important;
  }
}
